{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} jsGrid {% endblock title %}
{% block extrastyle %}
<!-- jsGrid -->
<link rel="stylesheet" href="{% static 'plugins/jsgrid/jsgrid.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/jsgrid/jsgrid-theme.min.css' %}">
{% endblock extrastyle %}
{% block bodyclass %} hold-transition sidebar-mini {% endblock bodyclass %}
{% block content %}

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>150</h3>

              <p>New Orders</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>53<sup style="font-size: 20px">%</sup></h3>

              <p>Bounce Rate</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>44</h3>

              <p>User Registrations</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>65</h3>

              <p>Unique Visitors</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-12 connectedSortable">

          <!-- Uncommited Events -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                <i class="ion ion-clipboard mr-1"></i>
                Uncommited Events
              </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="card-body">
                <div id="uncommitedEventsGrid"></div>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
            </div>
          </div>
          <!-- /.card -->
          <div class="row">
            <!-- Follow Up Events -->
            <div class="card col-lg-6">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="ion ion-clipboard mr-1"></i>
                  Follow Up Events
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="card-body">
                  <div id="followEventsGrid"></div>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
              </div>
            </div>
            <!-- Pending Events -->
            <div class="card col-lg-6">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="ion ion-clipboard mr-1"></i>
                  Pending Events
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="card-body">
                  <div id="pendingEventsGrid"></div>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
              </div>
            </div>
          </div>
            <!-- /.card -->
          <div class="row">
            <!-- Locked Events -->
            <div class="card col-lg-6">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="ion ion-clipboard mr-1"></i>
                  Locked Events
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="card-body">
                  <div id="lockedEventsGrid"></div>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
              </div>
            </div>
            <!-- /.card -->
            <!-- Raw Events -->
            <div class="card col-lg-6">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="ion ion-clipboard mr-1"></i>
                  Raw Events
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="card-body">
                  <div id="rawEventsGrid"></div>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
              </div>
            </div>
            <!-- /.card -->
          </di>
        </section>
        <!-- /.Left col -->

        <!-- right col -->
      </div>
      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
  </section>
    <!-- /.content -->
{% endblock content %}
{% block extra_scripts %}
<!-- jsGrid -->
<script src="{% static 'plugins/jsgrid/jsgrid.min.js' %}"></script>
<!-- Page specific script -->
<script>

  let uncommitedEvents = {{ uncommited_events|safe }};
  let followEvents = {{ follow_events|safe }};
  let pendingEvents = {{ pending_events|safe }};
  let lockedEvents = {{ locked_events|safe }};
  let rawEvents = [];

  $(function () {

    $("#uncommitedEventsGrid").jsGrid({
      width: "100%",
      height: "600px",

      sorting: true,
      paging: true,
      editing: true,

      data: uncommitedEvents,

      onItemEditing: function(args) {
        // cancel editing of the row of item with field 'ID' = 0
        console.log(args.item.id)
          args.cancel = true;
          window.location.href = `http://${window.location.host}/events-management/decrypted_events/update/${args.item.id}`
      },

      fields: [
        { name: "id", type: "number", title: "ID", width: 50 },
        { name: "raw_event", type: "text", title: "Raw Event", width: 50 },
        { name: "account.id", type: "text", title: "Account ID", width: 50 },
        { name: "account.name", type: "text", title: "Account Name", width: 100 },
        { name: "alarmcode.description", type: "text", title: "Alarm Code", width: 100},
        { name: "created_at", type: "datetime", title: "Timestamp", sorting: true }
      ]
    });

    $("#followEventsGrid").jsGrid({
      width: "100%",
      height: "400px",

      sorting: true,
      paging: true,
      editing: true,

      data: followEvents,

      onItemEditing: function(args) {
        // cancel editing of the row of item with field 'ID' = 0
        console.log(args.item.id)
          args.cancel = true;
          window.location.href = `http://${window.location.host}/events-management/decrypted_events/update/${args.item.id}`
      },


      fields: [
        { name: "id", type: "number", title: "ID", width: 50 },
        { name: "raw_event", type: "text", title: "Raw Event", width: 50 },
        { name: "account.id", type: "text", title: "Account ID", width: 50 },
        { name: "account.name", type: "text", title: "Account Name", width: 100 },
        { name: "alarmcode.description", type: "text", title: "Alarm Code", width: 100},
        { name: "created_at", type: "datetime", title: "Timestamp", sorting: true }
      ]
    });
    
    $("#pendingEventsGrid").jsGrid({
      width: "100%",
      height: "400px",
      
      sorting: true,
      paging: true,
      editing: true,

      data: pendingEvents,

      onItemEditing: function(args) {
        // cancel editing of the row of item with field 'ID' = 0
        console.log(args.item.id)
          args.cancel = true;
          window.location.href = `http://${window.location.host}/events-management/decrypted_events/update/${args.item.id}`
      },

      fields: [
        { name: "id", type: "number", title: "ID", width: 50 },
        { name: "raw_event", type: "text", title: "Raw Event", width: 50 },
        { name: "account.id", type: "text", title: "Account ID", width: 50 },
        { name: "account.name", type: "text", title: "Account Name", width: 100 },
        { name: "alarmcode.description", type: "text", title: "Alarm Code", width: 100},
        { name: "created_at", type: "datetime", title: "Timestamp", sorting: true }
      ]
    });
    
    $("#lockedEventsGrid").jsGrid({
      width: "100%",
      height: "400px",

      sorting: true,
      paging: true,
      editing: true,

      data: lockedEvents,

      onItemEditing: function(args) {
        // cancel editing of the row of item with field 'ID' = 0
        console.log(args.item.id)
          args.cancel = true;
          window.location.href = `http://${window.location.host}/events-management/decrypted_events/update/${args.item.id}`
      },


      fields: [
        { name: "id", type: "number", title: "ID", width: 50 },
        { name: "raw_event", type: "text", title: "Raw Event", width: 50 },
        { name: "account.id", type: "text", title: "Account ID", width: 50 },
        { name: "account.name", type: "text", title: "Account Name", width: 100 },
        { name: "alarmcode.description", type: "text", title: "Alarm Code", width: 100},
        { name: "created_at", type: "datetime", title: "Timestamp", sorting: true }
      ]
    });

    $("#rawEventsGrid").jsGrid({
      width: "100%",
      height: "400px",

      sorting: true,
      paging: true,

      data: rawEvents,

      fields: [
        { name: "data", type: "text", title: "Data", width: 150 },
        { name: "device.name", type: "text", title: "Device Name", width: 150 },
        { name: "device.com", type: "text", title: "Com", width: 150 },
        { name: "created_at", type: "datetime", title: "Timestamp", width: 150 }
      ]
    });

  });

  let url = `ws://${window.location.host}/live/events/`
  const eventsSocket = new WebSocket(url)

  eventsSocket.onmessage = function(e){
      let data = JSON.parse(e.data)
      console.log('Data:', data)

      if(data.type === 'raw_event'){
          let messages = document.getElementById('messages')
          rawEvents.push(data.message)
          if(rawEvents.length > 10) {
            rawEvents.splice(0,1)
          }
          $('#rawEventsGrid').jsGrid("option", "data", rawEvents)
      }
      else if(data.type === 'uncommited_event'){
        let messages = document.getElementById('messages')
        uncommitedEvents.push(data.message)
        $('#uncommitedEventsGrid').jsGrid("option", "data", uncommitedEvents)
      }
      else if (data.type == "remove_uncommited_event") {
        const index = uncommitedEvents.map(x => x.id).indexOf(data.message);
        uncommitedEvents.splice(index, 1);
        $('#uncommitedEventsGrid').jsGrid("option", "data", uncommitedEvents)
      }
      else if(data.type === 'lock_event'){
        let messages = document.getElementById('messages')
        lockedEvents.push(data.message)
        $('#lockedEventsGrid').jsGrid("option", "data", lockedEvents)
      }
      else if(data.type === 'remove_lock_event'){
        let messages = document.getElementById('messages')

        const index = lockedEvents.map(x => x.id).indexOf(data.message);
        lockedEvents.splice(index, 1);

        $('#lockedEventsGrid').jsGrid("option", "data", lockedEvents)
      }
      else if(data.type === 'pending_event'){
        let messages = document.getElementById('messages')
        pendingEvents.push(data.message)
        $('#pendingEventsGrid').jsGrid("option", "data", pendingEvents)
      }
      else if(data.type === 'remove_pending_event'){
        let messages = document.getElementById('messages')

        const index = pendingEvents.map(x => x.id).indexOf(data.message);
        pendingEvents.splice(index, 1);

        $('#pendingEventsGrid').jsGrid("option", "data", pendingEvents)
      }
      else if(data.type === 'follow_event'){
        let messages = document.getElementById('messages')
        followEvents.push(data.message)
        $('#followEventsGrid').jsGrid("option", "data", followEvents)
      }
      else if(data.type === 'remove_follow_event'){
        let messages = document.getElementById('messages')

        const index = followEvents.map(x => x.id).indexOf(data.message);
        followEvents.splice(index, 1);

        $('#followEventsGrid').jsGrid("option", "data", followEvents)
      }
  }
</script>
{% endblock extra_scripts %}
