<mat-toolbar color="primary" dir="rtl">
  <button mat-icon-button (click)="drawer.toggle()" *ngIf="isAuthenticated">
    <mat-icon>menu</mat-icon>
  </button>
  <span>SMS</span>
</mat-toolbar>

<mat-drawer-container autosize  class="example-container" dir="rtl" >
  <mat-drawer #drawer mode="side" [opened]="isAuthenticated" class="example-sidenav" >
    <mat-nav-list  *ngIf="isAuthenticated">

      <a mat-list-item [activated]="true" [routerLink]="'/accounts-management/accounts'"> Accounts </a>
      <a mat-list-item [routerLink]="'/accounts-management/cities'"> Cities </a>
      <a mat-list-item [routerLink]="'/events-management/raw-events'"> Events </a>
      <a mat-list-item [routerLink]="'/create-contact'"> Create Contact </a>
      <a mat-list-item [routerLink]="'/activities'"> Activities </a>
      <a mat-list-item [routerLink]="'/create-activity'"> Create Activity </a>
    </mat-nav-list>
    </mat-drawer>

  <mat-drawer-content class="example-sidenav-content" dir="rtl">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

