<h2 mat-dialog-title>Account Management</h2>
<mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Account">

      <div>
        <mat-form-field>
          <mat-label>Account Number:</mat-label>
          <input matInput type="number" [disabled]="this.data.isView" [(ngModel)]="model.number">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Name</mat-label>
          <input matInput [disabled]="this.data.isView" maxlength="40" [(ngModel)]="model.name">
        </mat-form-field>
      </div>
      <br>
      <div>
        <mat-form-field>
          <mat-label>City</mat-label>
          <mat-select [(value)]="model.city" [disabled]="this.data.isView">
            <mat-option *ngFor="let city of cities" [value]="city.id" >{{ city.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Zip Code</mat-label>
          <input matInput [disabled]="this.data.isView" maxlength="10" [(ngModel)]="model.zip_code">
        </mat-form-field>
      </div>
      <br>
      <div>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Address Line 1</mat-label>
          <input matInput [disabled]="this.data.isView" maxlength="30" [(ngModel)]="model.address_line1">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Address Line 2</mat-label>
          <input matInput [disabled]="this.data.isView" maxlength="30" [(ngModel)]="model.address_line2">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Address Line 3</mat-label>
          <input matInput [disabled]="this.data.isView" maxlength="30" [(ngModel)]="model.address_line3">
        </mat-form-field>
      </div>
      <br>
      <div>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Email</mat-label>
          <input matInput [disabled]="this.data.isView" email [(ngModel)]="model.email">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Phone Number 1</mat-label>
          <input matInput [disabled]="this.data.isView" pattern="[0-9]*" maxlength="20" [(ngModel)]="model.phone_number1">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Phone Number 2</mat-label>
          <input matInput [disabled]="this.data.isView" pattern="[0-9]*" maxlength="20" [(ngModel)]="model.phone_number2">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Whatsapp Number</mat-label>
          <input matInput [disabled]="this.data.isView" pattern="[0-9]*" maxlength="20" [(ngModel)]="model.whatsapp_number">
        </mat-form-field>
      </div>

    </mat-tab>
    <mat-tab  label="Misc">
      <div>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Security Number</mat-label>
          <input matInput [disabled]="this.data.isView" pattern="[0-9]*" maxlength="20" [(ngModel)]="model.security_number">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Memo</mat-label>
          <textarea matInput [disabled]="this.data.isView" maxlength="120" [(ngModel)]="model.memo"> </textarea>
        </mat-form-field>
      </div>
      <br>
      <div>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Police Number 1</mat-label>
          <input matInput [disabled]="this.data.isView" pattern="[0-9]*" maxlength="20" [(ngModel)]="model.police_number1">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Police Number 2</mat-label>
          <input matInput [disabled]="this.data.isView" pattern="[0-9]*" maxlength="20" [(ngModel)]="model.police_number2">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Police Number 3</mat-label>
          <input matInput [disabled]="this.data.isView" pattern="[0-9]*" maxlength="20" [(ngModel)]="model.police_number3">
        </mat-form-field>
      </div>
      <br>
      <div>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Fire Dept. Number 1</mat-label>
          <input matInput [disabled]="this.data.isView" pattern="[0-9]*" maxlength="20" [(ngModel)]="model.fire_dept_number1">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Fire Dept. Number 2</mat-label>
          <input matInput [disabled]="this.data.isView" pattern="[0-9]*" maxlength="20" [(ngModel)]="model.fire_dept_number2">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Fire Dept. Number 3</mat-label>
          <input matInput [disabled]="this.data.isView" pattern="[0-9]*" maxlength="20" [(ngModel)]="model.fire_dept_number3">
        </mat-form-field>
      </div>
      <br>
      <div>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Emergency Number 1</mat-label>
          <input matInput [disabled]="this.data.isView" pattern="[0-9]*" maxlength="20" [(ngModel)]="model.emergency_number1">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Emergency Number 2</mat-label>
          <input matInput [disabled]="this.data.isView" pattern="[0-9]*" maxlength="20" [(ngModel)]="model.emergency_number2">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Emergency Number 3</mat-label>
          <input matInput [disabled]="this.data.isView" pattern="[0-9]*" maxlength="20" [(ngModel)]="model.emergency_number3">
        </mat-form-field>
      </div>
    </mat-tab>
    <mat-tab  label="Partitions">
      <div *ngFor="let partition_number of [0,1,2,3,4,5,6,7,8,9,10]" >
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Partition {{ partition_number }}</mat-label>
          <input matInput [disabled]="this.data.isView || partition_number == 0" pattern="[0-9]*" maxlength="20" [(ngModel)]="model['partition_name' + partition_number]">
        </mat-form-field>
      </div>
    </mat-tab>
    <mat-tab  *ngIf="model.id" label="Schedules">

    </mat-tab>
    <mat-tab  *ngIf="model.id" label="Users">
      <app-account-users [account]="model" [isView]="this.data.isView" ></app-account-users>
    </mat-tab>
    <mat-tab  *ngIf="model.id" label="Alarm Codes"></mat-tab>
    <mat-tab  *ngIf="model.id" label="Installation"></mat-tab>
    <mat-tab  *ngIf="model.id" label="Billing"></mat-tab>

    <mat-tab  *ngIf="model.id" label="Groups"></mat-tab>
    <mat-tab  *ngIf="model.id" label="Events"></mat-tab>
    <mat-tab  *ngIf="model.id" label="Schema"></mat-tab>

  </mat-tab-group>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="">Cancel</button>
    <button mat-button *ngIf="!this.data.isView" (click)="this.data.isEdit ? edit() : add()" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
