{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block title %} {{ view_name }} {% endblock title %}

{% block bodyclass %} hold-transition sidebar-mini layout-fixed {% endblock bodyclass %}

{% block content %}

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        
        <!-- left column -->
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              {% if add_url %}<a type="button" class="btn btn-success" href="{{ add_url }}">{% trans "Add" %}</a>{% endif %}
              <a type="button" class="btn btn-success float-sm-right" href="{{ export_url }}">{% trans "Export"%}</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <!-- general form elements -->
              <!-- general form elements disabled -->
              {% load django_tables2 %}
              {% load bootstrap4 %}
              {% if filter %}
                  <form action="" method="get" class="form form-inline">
                      {% bootstrap_form filter.form layout='inline' %}
                      {% bootstrap_button 'filter' %}
                  </form>
              {% endif %}
              
              <table class="table">
                  {% render_table table %}
              </table>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>

{% endblock content %}