<div class="container-div">

  <button mat-icon-button class="refresh-button" (click)="getAll()">
    <mat-icon>refresh</mat-icon>
  </button>

  <div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let model"> {{model.id}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let model"> {{model.data}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef> Timestamp </th>
      <td mat-cell *matCellDef="let model"> {{model.created_at}} </td>
    </ng-container>

    <ng-container matColumnDef="device_name">
      <th mat-header-cell *matHeaderCellDef> Device </th>
      <td mat-cell *matCellDef="let model"> {{model.device_name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <mat-paginator
    #paginator
    [pageSizeOptions]="pageSizes"
    showFirstLastButtons
  ></mat-paginator>

</div>
</div>
