<div>
  <mat-form-field>
    <mat-label>Partition</mat-label>
    <mat-select [disabled]="this.isView" [value]="0">
      <mat-option [value]="0" >
        {{ 'Partition ' + 0  }}
      </mat-option>
      <mat-option *ngFor="let partition_number of [1,2,3,4,5,6,7,8,9,10]" [value]="partition_number" >
        {{ account['partition_name' + partition_number] == "" ? 'Partition ' + partition_number : account['partition_name' + partition_number]  }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="container-div">

  <button mat-icon-button class="add-button" (click)="add()">
    <mat-icon>add</mat-icon>
  </button>

  <table mat-table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> City Name </th>
      <td mat-cell *matCellDef="let model"> {{model.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let model">
        <button mat-icon-button class="add-button" (click)="view(model)">
          <mat-icon>pageview</mat-icon>
        </button>
        <button mat-icon-button class="add-button" (click)="edit(model)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="add-button" (click)="delete(model)" >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <mat-paginator
    #paginator
    [pageSizeOptions]="pageSizes"
    showFirstLastButtons
  ></mat-paginator>

</div>

